body {
    margin: 0;
    font-family: 'Outfit', Arial, sans-serif;
}

.logo-container{
  display: flex;
  flex-direction: row;
  padding: 20px 5px 0px 5px;
  align-items: center;
  gap: 10px;
  font-family: 'Preahvihear', Arial, sans-serif;
  font-size: 18px;
  font-weight: 550;
  line-height: 14px;
  text-align: left;
}

.sidebar {
    background-color: #F5F5F5;
    padding: 20px;
    padding-top: 0px;
    position: fixed;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
     display: none;
   }

.service-provider-info h2,
.service-provider-info h3 {
    font-weight: bold;
    margin: 10px 0 5px;
}

.service-provider-info p {
    margin: 5px 0;
}

.navigation .timestamp,
.navigation .welcome {
    font-size: 14px;
    color: #555;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    margin: 5px 0;
    width: 100%;
    padding: 5px 0px 0px 0px;
    border-radius: 12px 0px 0px 0px;
}

.dropdown-btn {
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoraztion: none; /* Remove underline */
  color: inherit; /* Maintain text color */
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
    border-radius: 10px;
    font-size: 14px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.arrow {
  display: flex;
  align-items: center;
  margin-left: 8px; /* Adjust margin as needed */
}


.navigation ul li a:hover {
    background-color: #ddd;
}

.navigation ul li ul {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

.navigation ul li .dropdown-btn .arrow {
    float: right;
}

.navigation ul li a.active {
    background-color: #007bff;
    color: white;
}

.navigation ul li .dropdown-container a {
    padding-left: 20px;
}

.show {
    display: flex !important;
    flex-direction: column;
}
